body {
    background-color: rgba(128, 128, 128, 0.294);
}

h1 {
    color: red;
}

h2 {
    color: rgba(201, 11, 18, 0.741);
    font-size: smaller;
    font-style: italic;
    position: sticky;
    margin-left: 80%;
}

p {
    color: rgb(25, 219, 67);
    font-size: large;
    font-style: normal;
}

p.note {
    color: rgb(33 92 13);
    font-style: italic;
}

p.hwpd {
    color: tan;
    font-style: italic;
}